.portfolio-template img {
	width: 100%;
	height: 100%;
	position: relative;
	
	filter: brightness(50%);
}

.portfolio-template p {
	z-index: 2;
	position: absolute;
	bottom: 10%;
	left: 20%;

	color: white;
}

.portfolio-back {
	padding-bottom: 5%;
	position: relative;
}

#image {
 overflow:hidden;
 width: 277px;
 height:370px;
 cursor: pointer;
 }

 #image img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
#image img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

